:root {
  --lightgray: rgba(207, 207, 207, 100%);
  --deepgray: rgba(110, 110, 110, 100%);
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 100px;
  margin-bottom: 30px;
  gap: 30px;
  font-size: 1.3rem;
  border-top: 1px solid var(--deepgray);
  width: 100%;
  box-sizing: border-box;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  gap: 0.5rem;
}
.footer-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer-toolbar-title {
  font-size: 1.7rem;
  font-weight: bolder;
  border-right: 3px solid var(--deepgray);
  padding-right: 20px;
}

.footer-toolbar-option {
  cursor: pointer;
  position: relative;
}

.footer-toolbar-option::before {
  content: "";
  position: absolute;
  transition: 0.3s;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 2px;
  background: black;
  transform: scale(0);
}

.footer-toolbar-option:hover::before {
  transform: scaleX(1);
}
.footer-toolbar-tool {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-toolbar-tool div {
  cursor: pointer;
}
.footer-toolbar-option {
  padding-right: 20px;
}
.footer-toolbar-option:not(:last-child) {
  border-right: 1.5px solid var(--lightgray);
  padding-right: 20px;
}
.footer-submenu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: relative;
}
.footer-button div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
#gotop {
  display: flex;
  align-self: center;
  color: var(--deepgray);
}
#gotop:hover {
  cursor: pointer;
  color: black;
  box-shadow: 0px 4px 8px 0px var(--lightgray);
}
.instagram:hover,
.mail:hover {
  cursor: pointer;
  color: var(--deepgray);
}
.instagram:active,
.mail:active {
  color: orange;
}
.mail::after {
  content: "複製Mail";
  background-color: var(--lightgray);
  position: absolute;
  text-align: center;
  width: 85px;
  height: 25px;
  top: 74px;
  left: 0px;
  opacity: 0;
  border-radius: 5px;
  padding: 2px;
  transition: 1s ease-in-out;
}
.mail:hover:after {
  opacity: 1;
}
